<%=
"<div>Stats are displayed below</div>".html_safe
%><%=
"<div name=newGame>".html_safe
%><%=
"<ul>".html_safe
%><%=
("<li>"+link_to("Start Unbeatable Game", game_path(:difficulty=>:unbeatable))+"</li>").html_safe
%><%=
("<li>"+link_to("Start Easy Game", game_path(:difficulty=>:easy))+"</li>").html_safe
%><%=
"</div>".html_safe
%><%=
render :partial => "stats", :object=>@stats%>
