<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <% 
      @stylesheets.each do |sheet|%>
      <%= stylesheet_link_tag(sheet) %>
    <% end %>
    <%= csrf_meta_tag %>
  </head>
  <body>
   <%= yield%>
   <%= render 'layouts/footer' %>
  </body>
</html>
